body {
  font-family: sans-serif;
}

main {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

#user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

#user > h2 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

#user > p {
  font-size: 1.2rem;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
